In [4]:
import pandas
df1=pandas.read_json("http://pythonhow.com/supermarkets.json")
df1

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [5]:
df2=df1.set_index("Address")
df2

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [7]:
df2.loc["735 Dolores St":"332 Hill St","Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [9]:
df2.iloc[1:4,1:4]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3
3995 23rd St       USA         10   4

In [10]:
df2.ix[3,"Name"]

"Ben's Shop"

In [11]:
df2.drop("3666 21st St",0)

,City,Country,Employees,ID,Name,State
Address,,,,,,
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [13]:
df2.drop(df2.columns[:2],1)

                 Employees  ID         Name             State
Address
3666 21st St             8   1      Madeira          CA 94114
735 Dolores St          15   2  Bready Shop          CA 94119
332 Hill St             25   3  Super River  California 94114
3995 23rd St            10   4   Ben's Shop          CA 94114
1056 Sanchez St         12   5      Sanchez        California
551 Alvarado St         20   6   Richvalley          CA 94114

In [15]:
df2.drop?

In [16]:
df2_T=df2.T
df2_T

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
ID,1,2,3,4,5,6
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114

In [19]:
df2["continent"]=df2.shape[0]*["North America"]

In [20]:
df2

,City,Country,Employees,ID,Name,State,continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [23]:
df2["continent"]= df2["Country"]+","+ "North America"
df2

,City,Country,Employees,ID,Name,State,continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA,North America"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA,North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA,North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA,North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA,North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA,North America"

In [24]:
df2_t=df2.T
df2_t["My Address"]=["My City", "My Country", 10, 10, "My Shop Name", "My State","My Continent"]

In [25]:
df3=df2_t.T
df3

,City,Country,Employees,ID,Name,State,continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA,North America"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA,North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA,North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA,North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA,North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA,North America"
My Address,My City,My Country,10,10,My Shop Name,My State,My Continent

In [26]:
import geopy
dir(geopy)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'NaviData',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'Point',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [27]:
from geopy.geocoders import Nominatim
nom=Nominatim()

In [28]:
n=nom.geocode("3395 23rd St, San Francisco, CA 94114")
n

Location(3395, 23rd Street, Liberty Street Historic District, SF, California, 94110, United States of America, (37.753699, -122.419509306122, 0.0))

In [30]:
n.latitude

37.753699

In [31]:
n.longitude

-122.419509306122

In [35]:
df3["Geocode"]=df3.shape[0]*["lattitude, longitude"]

In [36]:
df3

,City,Country,Employees,ID,Name,State,continent,Geocode
Address,,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA,North America","lattitude, longitude"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA,North America","lattitude, longitude"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA,North America","lattitude, longitude"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA,North America","lattitude, longitude"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA,North America","lattitude, longitude"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA,North America","lattitude, longitude"
My Address,My City,My Country,10,10,My Shop Name,My State,My Continent,"lattitude, longitude"

In [37]:
import pandas
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [38]:
df["AddressText"]=df["Address"] + ", " + df["City"] + ", "+df["State"]+", "+df["Country"]
df

KeyError: 'Contry'